@import 'reset.css';
@import 'variables.scss';
@import 'main.scss';

@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller_Lt.ttf');
}

@font-face {
  font-family: 'Aller Regular';
  src: url('../fonts/Aller_Rg.ttf');
}

body,
html {
  height: 100%;
  display: grid;
  font-family: 'Aller', Helvetica, Arial, sans-serif;
}

img {
  display: block;
  width: 100%;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-hidden{
  display: none !important;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

// Buttons
.el-button {
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 8px;
  padding: 8px 20px;

  &.is-full-width {
    width: 100%;
  }

  &.is-lowercase {
    text-transform: none;
    font-size: 12px;
  }

  &.is-big {
    padding-right: 80px !important;
    padding-left: 80px !important;

    &.is-icon-right {
      padding-right: 10px !important;
      padding-left: 10px !important;
      min-width: 250px;

      &>span {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &.is-small {
    padding: 5px !important;
    width: auto;

    &.is-icon-right {
      font-size: 10px;
      min-width: 100px;

      &>span {
        display: flex;
        justify-content: space-between;
      }
    }

    .icon {
      width: 15px;
    }
  }

  span {
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
  }

  .icon {
    margin-left: 20px;
    width: 20px;
    height: 22px;

    &.icon-at-glance {
      width: 30px;
      height: 18px;
    }
  }
}

.circleButton {
  cursor: pointer;
}

.addButtonCircle {
  font-size: 25px;
}

.el-badge{
  &__content{
    &.is-fixed{
      top: 12px;
      line-height: 16px;
    }
  }
}

.el-menu-item [class^="el-icon-"]{
  margin: 0;
  width: inherit;
}

// Forms
.el-form {
  &.el-form--label-top {
    .el-form-item__label {
      padding-bottom: 0;
    }
  }
}

.form-lined {
  border-radius: 0px 0px 10px 10px;
  border: 2px solid $--color-primary;
  border-top: none;
  padding: 30px 15px 15px 15px;

  input {
    background: transparent;
    border: 2px solid $--color-primary;
    // font-family: $--open-sans;
  }

  [class^="icon-"],
  [class*="icon-"] {
    padding-left: 40px;
    background-position: left 12px;
    background-size: 25px;
  }
}

.form-lined-column{
  border-right: 2px solid $--color-primary;
}

.form-lined-title {
  border-radius: 10px;
  background-color: $--color-primary;
  padding: 10px;
  position: relative;
  top: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.form-lined-sectionTitle{
  color: $--color-primary;
  border-bottom: 1px solid $--color-primary;
  margin-bottom: 15px;
  font-size: 14px;
}

.form-reminderBlock {
  padding-top: 10px;
  border-top: 1px solid $--blue;
  font-size: 12px;
}

// Login Page
.forgotPassword {
  .fa-icon {
    vertical-align: text-bottom;
  }

  a {
    font-size: 12px;
  }
}

// Register Page
.registrationBox-title {
  margin-bottom: 10px;
}

// Athlete Form
.sexFormElement {
  .el-form-item__label {
    float: left;
    margin-right: 20px;
  }

  .el-form-item__content {
    .el-radio-group {
      margin-top: 10px;
    }
  }
}

// Athlete Profile Edit Form
.athleteProfileEdit {
  .linksRow{
    margin-bottom: 30px;
  }
  #dropzone{
    margin: 10px 0 20px 0;
  }
}

.removeButtonCol {
  display: flex;
  align-items: flex-end;

  .circleButton {
    margin-bottom: 20px;
    left: -8px;
    position: relative;
  }
}


// Margins
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-r-20 {
  margin-right: 20px;
}

// Notifications
.notifications-list-item{
  padding: 5px;
  border-bottom: 1px solid $--blue-light;
  margin-top: 30px;
}

.notifications-list-item-title{
  font-weight: bold;
  font-size: 14px;
}

.notifications-list-item-subtitle{
  font-size: 12px;
}
