
$--blue-dark: #335aa1;
$--blue-primary: #419ce2;
$--blue: #4e87b1;
$--blue-light: #6aa5dc;
$--blue-lighter: #9fd0f4;
$--black: #242626;
$--black-subtitle: #33383d;
$--grey: #777777;
$--grey-title: #7f8891;
$--grey-text: #888888;
$--grey-border: #e1e1e1;
$--green-light-background: #fafafa;
$--pink: #ff0078;
$--green-secondary: #7dc855;

$--color-primary: $--blue;

$--color-text-primary: #4e4e4d;

/* Ubicación de la fuente, obligatoria */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

